.Todo{
   background-color: 100vh;
   

}

.Titulo1{
margin-top: -400px;
margin-left: 300px;
}
.ContenidoTexto{
    -webkit-box-shadow: 28px 32px 13px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 28px 32px 13px 1px rgba(0,0,0,0.75);
    box-shadow: 28px 32px 13px 1px rgba(0,0,0,0.75);
border:solid 1px black;
display: flex;
margin-left: 300px;
margin-top: -00px;
text-align: justify;
margin-right: 40px;
background-color: #00becf;
}
.img1{
border-radius: 15%;
margin-top: 200px;

}
.Texto{

    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;

}